.Top {
    height: 100px;
    width: 100vw;
    background-color: grey;
} 

.left-side {
    height: 100vh;
    width: 100px;
    background-color: lightgrey;
    float: left;
    padding: 10px;
}

.right-side {
    height: 100vh;
    width: 100px;
    background-color:lightgray;
    margin-bottom: 50px;
    float: right;
    padding: 10px;
}

.Bottom {
    height: 100px;
    width: 90wv;
    background-color: black;
    margin-left: 8vw;
    margin-top: 43.5vw;
}